<li>
  <%= check_box_tag 'complete', '1', task.complete %>
  <label><%= task.description %></label>
  <% if task.project.present? %>
    <br>
    <strong>Project:</strong> <%= task.project %>
  <% end %>
  <% if task.owner_tags_on(current_user,:contexts).any? %>
    <br>
    <strong>Contexts:</strong> <%= task.contexts_from(current_user) %>
  <% end %>
</li>
