<h1>Here are your options</h1>

<nav>
  <ul>
    <li><%= link_to 'Tasks', tasks_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to 'Contexts', contexts_path %></li>
  </ul>
</nav>
